
.card{
    width: 450px;
    margin: auto 50px;
    /* height: 400px; */
    border-radius: 14px;
    border: 1px solid gray;
    margin: 1px auto;
    padding: 5px;
}
.img-post{
    width: 100%; 
   border-radius: 14px ;

}
.lovedButton{
    border: 1px solid blue; 
    border-radius: 14px;
    color: red;
    background-color: rgb(174, 201, 201);
    padding: 5px;
    font-size: larger;
    position: relative;
    bottom: 550px;
    left: 30px;
}
.try{
    border: 1px solid orangered; 
    border-radius: 14px;
    color: green;
    background-color: rgb(174, 201, 201);
    padding: 5px;
    font-size: larger;
    position: relative;
    bottom: 150px;
    left: 200px;

}
